/* HomepageLayout.css */
.mainPageLayout {
  text-align: center;
  margin: auto;
  max-width: 90%;
}

.boxLink {
  flex: 1 0 calc(33.33% - 16px); /* Adjust the width and gap to your desired size */
  text-decoration: none;
}

.outerContainer {
  
}

.box {
  flex: 1;
  box-sizing: border-box;
  width: 300px; /* Adjust the width to your desired size */
  height: 300px; /* Adjust the height to your desired size */
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
  
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  margin: auto;
}

.generationLayOut {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  gap: 16px;
  margin-top: 20px;
}

.description {
  margin: 8px; /* Adjust the margin for spacing */
}

.image {
  margin: 8px; /* Adjust the margin for spacing */
}