.pageLayout {
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.slick-list {
  background-color: violet;
}

.slick-track {
  margin-bottom: 30%;
}

.pokemonSpriteDisplay {
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  cursor: pointer;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
