.pageLayout {
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.slick-track {
  margin-bottom: 30%;
}

.pokemonSpriteDisplay {
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  cursor: pointer;
  background-color: skyblue;
  border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
