.outerContainer {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.singlePokemonOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 70%; 
  margin: auto;
  height: 100vh; 
}
.singlePokemonInnerContainer {
  margin-top: 5%;
}

.pokemonImageDisplay {
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: auto;
  background-color: skyblue;
  border-radius: 50%;
}

.slick-list {
  margin-left: auto;
  margin-right: auto;
  height: 95vh; /* 100% of the viewport height */
}
