.singlePokemonOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 70%; /* Adjust the max-width as needed */
  margin: auto;
  height: 100vh; /* 100% of the viewport height */
}

.singlePokemonInnerContainer {
  margin-top: 5%;
}

.pokemonImageDisplay {
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: auto;
  cursor: pointer;
  background-color: skyblue;
  border-radius: 50%;
}

.slick-list {
  margin-left: auto;
  margin-right: auto;
  height: 95vh; /* 100% of the viewport height */
}
